.App {
  text-align: center;
}

li {
     text-align: left;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
     background: #0F2027;  /* fallback for old browsers */
     background: -webkit-linear-gradient(to right, #609eb9, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
     background: linear-gradient(to right, #609eb9, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

     /* background-size: 300% 300%;
     	-webkit-animation: Gradient 10s ease infinite;
     	-moz-animation: Gradient 10s ease infinite;
     	animation: Gradient 10s ease infinite; */
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

.App-link {
  color: #61dafb;
}

.form-area {
     padding: 40px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.form-area {
     margin-left: auto;
     margin-right: auto;
     display: inline-block;
}

.clb-credit {
     padding-bottom: 40px;
     font-size: 16px;
     font-weight: 300;
}

.letter-form-area {
     margin-top: 40px;
     font-size: 20px;
     font-weight: 200;
}

.form-area {
     max-width: 1200px;
     display: block;
}

.form-area ul {
     margin: 20px;
     display: block;
     padding: 0;
}

.form-area ul li {
     margin: 8px;
     list-style-type: none;
     display: inline-block;
     float: left;
     overflow-wrap: normal;
     padding: 8px 16px;
     background-color: #203A43;
     border-radius: 3px;
     color: #fff;
     cursor: pointer;
     line-height: 1.2;
     text-transform: uppercase;
}

.form-area ul li:hover {
     background: #609eb9;
}

.word-only {
     /* text-decoration: underline; */
     /* border-bottom: 2px dotted #555;
     text-transform: uppercase; */
}

.word-only:hover {
     /* background: yellow;
     cursor: help; */
}

.combos {
     clear: both;
     padding-top: 40px;
}

#letter-form, #letter-area {
     font-size: 32px;
}

#letter-area {
     text-transform: uppercase;
     padding: 12px;
}

input, textarea, select {
    font: 200 11px system-ui;
    border-radius: 3px;
    margin-left: 12px;
}


#clear-button, #run-button {
    background-color: #203A43;
    border: none;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    font-weight: 300;
    padding: 16px 24px;
    text-transform: uppercase;
    width: auto;
    margin-left: 12px;
}

#clear-button:hover {
     background: red;
}

#run-button:hover {
     background: green;
}

.clb-footer {
     padding: 40px;
     font-size: 10px;
     font-style: italic;
     font-weight: 300;
}


.word-hit .btn-dictionary {
     text-transform: uppercase;
     color: #fff;
}

.word-hit .btn-dictionary:hover {
     color: #fff;
}

.dictionary-word-modal-title {
     text-transform: uppercase;
}

.form-check {
     text-transform: uppercase;
}

.filter-results-area h4 {
     font-size: 20px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: 700;
}
